@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>Entidades del Sistema</div>
    <ul class="list-group">
        <li href="#" class="list-group-item-info">@Html.ActionLink("Bancos", "Index", "Banco")</li>
        <li href="#" class="list-group-item-info">@Html.ActionLink("Sucursales", "Index", "Sucursal")</li>
        <li href="#" class="list-group-item-info">@Html.ActionLink("Ordenes de Pago", "Index", "OrdenPago")</li>
    </ul>
   <div>Parametros</div>
    <ul class="list-group">
        <li href="#" class="list-group-item-success">@Html.ActionLink("Moneda", "Index", "Moneda")</li>
        <li href="#" class="list-group-item-success">@Html.ActionLink("Estado", "Index", "Estado")</li>
    </ul>
    <div>Consumo Servicios</div>
    <ul class="list-group">
        <li href="#" class="list-group-item-success">@Html.ActionLink("Orden Pago JSON", "Consulta", "OrdenPago")</li>
        <li href="#" class="list-group-item-success">@Html.ActionLink("Sucursales XML", "Consulta", "Sucursal")</li>
    </ul>
</div>

